*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  body {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  margin: 0 10px;
  padding: 10px;
  min-height: 550px;
}
nav {
background: rgb(14, 5, 65);
padding: 3px;
}
nav ul > li{
  position: relative;
  list-style-type: none;
  display: inline-block;
  transition: all 2s linear;
  margin: auto;
  min-height: 100%;
  bottom: 0;
}
nav ul > li::before, li::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 3px;
  width: 0;
  transition: 2s cubic-bezier(0, 0.99, 1, 1);
  background:rgb(23, 150, 173);
  /* background: red; */
}
nav ul li:hover::before{
  width:50%;
  left: 0;
}
nav ul li:hover::after{
width:50%;
}
nav ul li:hover{
  background: rgb(69, 197, 65);
}
nav ul li a {
 display: block;
 width:100%;
 text-decoration: none;
 color: white;
}

.footer {
  margin-bottom: 0;
}
.h-auto-intel {
  height: auto;
}
@media(min-width: 508px) {
  .h-auto-intel {
    height: 500px;
  }
  .w-sm  {
    max-width:50% !important;;
  }
}
@media(min-width: 768px) {
  .w-md  {
    max-width:25% !important;;
  }
}
/* styling the body */

.m-0 {
  margin: 0;
}
/* slider cusomization */
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-top: 4rem;
}
/* Since positioning the image, we need to help out the caption */

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 30rem;
}
.carousel-item > img {
  position: relative;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
/* .marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
} */
/* rtl:end:ignore */


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  /* rtl:remove */
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */
/* adding images to the slider */
.carousel-item:nth-child(1) {
  background-image: url('../public/images/org.jpg');
  background-position: fixed;
  background-size: cover;
}
.carousel-item:nth-child(2) {
  background-image: url('../public/images/org.jpg');
  background-position: fixed;
  background-size: cover;
}
.carousel-item:nth-child(3) {
  background-image: url('../public/images/org.jpg');
  background-position: fixed;
  background-size: cover;
}
.border-dark {
  border: 1px solid gray;
}
.text-underline {
  text-decoration: underline;
}
/* styling the inputs for the register component */
.border label {
  position: absolute;
}
.border input:focus ~ label{
  position: relative;
  display: none;
}
.shopper {
  color: rgb(217, 114, 5);
}
/* styling the dropdown menu  */
.arrow-down{
  position: absolute;
  right: -5px;
  bottom: 50%;
  height: 0;
  width: 0;
  border-top: 5px solid aqua;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}